//@font-face {
//    font-family: 'maryad';
//    src: url('OpenSans-Bold-webfont.eot') format('eot'),
//    url('OpenSans-Bold-webfont.svg') format(‘svg’),
//    url('OpenSans-Bold-webfont.ttf') format(‘truetype’);
//    font-weight: normal;
//    font-style: normal;
//}

body {
  @include font-smoothing;
//  @include font-family();
    font-family: 'Lato', sans-serif;
  padding: 0;
//  font-family: sans-serif;
  font-size: 1.25em;

  @media (max-width: $screen-sm-max) {
    font-size: 1.5em;
  }
}

h1 {
  font-size: 1.75em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}
h4, h5, h6 {
  font-size: 1em;
}

ul, ol {
  list-style-type: none;
  padding: 0;
}

section {
  margin-bottom: 30px;
}

small {
  font-size: 0.75em;
}

.highlight {}
/***************************************/
.navbar-default .navbar-nav > li > a {
    color: #101c6b;
}
.nav > li {
    position: relative;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 21.6px;
    color: #001a66;
    font-weight: 400;
    padding-left:10px;
    padding-right:15px;
    background:url(../../src/images/dot-blue.png) no-repeat center right;
}
.nav > li:last-child{
    background:none;
    padding-right:0px;
}
.navbar-brand {
    float: left;
    padding: 0px 15px;
    font-size: 18px;
    line-height: 20px;
    height: auto;
}
.viki{
    float:right;
}
.lead{
    font-size: 30px;
    color: #001a66;
    font-weight: 700;
    float: right;
    margin-right:20px;
}
.line-top{
    padding-top:15px;
    padding-bottom:15px;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
    border-bottom:1px solid #EFEFEF;
}
.logo{
    margin-top: -47px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #3F3F8C;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 28px;
    height: 4px;
    border-radius: 1px;
}
.navbar-default .navbar-toggle {
    border-color: #3F3F8C;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
}
.tam-logo{
//    border:1px solid red;
    max-width:260px;
    height:auto;
}
.tam-viki{
//    border:1px solid red;
    width:230px;
    height:auto;
    float:right;
}
.fundo-blue{
    background-color: #101c6b;
    height: auto;
    margin-top: 4px;
    margin-bottom: 4px;
}
p.texto-blue{
    font-size: 25px;
//    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    padding-top:13px;
    padding-top: 5px;
    margin-bottom: 4px;
    text-align: center;
}
a{
    transition: all .2s ease-in-out;
}
/***************************************/
.busca-semi{
    font-size: 18px;
    color: #3a458b;
    font-weight: 400;
    padding-top:10px;
    line-height: 48px;
}
.input1{
    width:20%;
    margin-right:1%;
    float:left;
}
.input2{
    width:12%;
    margin-right:1%;
    float:left;
}
.btn-alt{
    height:34px !important;
    padding-bottom: 5px !important;
}

.btn-default {
    color: #333;
    border-color: #3a458b;
    background-color: #3a458b;
}
.btn-default:hover {
    color: #333;
    background-color: #3a458b;
    border-color: #3a458b;
}
.img-lupa{
    height:20px;
}
.filter, .filter1{
    display: none;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: -1px;
    text-overflow: "";
    background: #fff url(../../src/images/arrow.png) no-repeat scroll right 7px center !important; 
}
.fundo-busca{
    background: #EEEEEE;
    margin-bottom:4px;
}
.form-group {
    margin-bottom: 10px;
}
.btn-interna{
    
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    border-color: #5c314a;
    background-color: #5c314a;
    color:#FFF;
    text-decoration: none;
    margin:auto;
    display: block;
}
.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background-color: #5c314a;
    box-shadow: none;
}
.btn-link {
    color: #fff;
    font-weight: normal;
    border-radius: 5px;
    font-size: 26.57px;
    line-height: 25.509px;
    font-weight: 700;
    text-decoration: none;
}
.back-form-interna{
    background-color: #eeeeee;
    padding: 20px;
}
.back-form-interna p{
    font-size: 20px;
    line-height: 24px;
    color: #5c314a;
    font-weight: 700;
    text-align: center;
}
.nome-carro-interna{
    font-size: 20.28px;
    line-height: 19.468px;
    color: #020202;
    font-weight: 400;
}
.especial{
    font-size: 26.57px;
    line-height: 25.509px;
    color: #5c314a;
    font-weight: 700;
}
.especial span{
    font-size: 12.52px;
    line-height: 16.657px;
    color: #5c314a;
    font-weight: 700;
}
.lista-detalhes li{
    font-size: 15.74px;
    line-height: 32.12px;
    color: #020202;
    font-weight: 400;
}
.lista-detalhes div{
    width:117px;
    float: left
}
.form-hide-busca{
    margin-top:15px;
}
.slider-nav img{
    padding:10px;
}
.top-line{
    margin-top:40px;
}
.fundo-barra-logos{
    padding-bottom:20px;
    background: rgba(220, 227, 227, 0.51);    
}
.barra-logos{
    text-align: center;
}
.list-inline{
    margin:auto;
}
.fundo-rodape{
//    background: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(218, 224, 224, 1)); /* For Safari 5.1 to 6.0 */
//    background: -o-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Opera 11.1 to 12.0 */
//    background: -moz-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(218, 224, 224, 1), rgba(255,255,255,0)); /* Standard syntax (must be last) */
}
.barra-logos img{
    display: inline-block;
    margin-right:30px;
    margin-left:30px;
}
.barra-logos li{
    margin-right:80px;
    vertical-align: middle;
    border:1px solid red;
    text-align: center;
}
.ul1, .ul2, ul3{
    float:left;
    margin-right:30px;
    font-size: 13px;
    line-height: 26.52px;
    color: #020202;
    font-weight: 400;
}
.lista-obs ul{
    float:left;
    margin-right:80px;
    font-size: 13px;
    line-height: 26.52px;
    color: #020202;
    font-weight: 400;
}
.lista-menu-footer ul{
    float:left;
    margin-right:80px;
    font-size: 13px;
    line-height: 26.52px;
    color: #020202;
    font-weight: 400;
}
.title-footer{
    font-size: 24px;
    color: #0b4f8b;
    font-weight: 400;
}
.detalhes{
    font-size: 20.28px;
    line-height: 19.468px;
    color: #020202;
    font-weight: 400;
    padding-top:25px;
}
.slick-slider, .slider-for {
    background: #e9e9e9;
}
.sub-footer{
    font-size: 16px;
    line-height: 19.2px;
    color: #333333;
    font-weight: 400;
}
.lista-menu-footer li{
    font-size: 14px;
    line-height: 16.8px;
    color: #333333;
    font-weight: 400;
}
.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
    margin-top: -20px;
    display: block;
    position: relative;
}
.slider-nav {
    padding-bottom: 30px;
}
.face{
    float:right;
    margin-top:20px;
}

.cor-fundo{
//    min-height:126px;
//    border:1px solid red;
}
.ico-location{
    float: left;
    min-height: 115px;
    margin-right:10px;
    margin-left:10px;
    width:53px;
//    border:1px solid red;
}

.cor-fundo li {
//    padding-right:3px;
//    padding-left:3px;
//    padding-left:3px;
//    border-left:3px transparent ;
//    min-height: 126px;
}
.cor-fundo li a {
    padding: 5px 15px 15px 0;
    display: block;
    color:#000;
    background: url("../../src/images/noun_21803_cc33.png") no-repeat center left 10px;
    min-height: 165px;
}

.cor-fundo li a:hover, .cor-fundo li.active a {
    background: #3A458B url("../../src/images/noun_21803_cc.png") no-repeat center left 10px;
    color: #fff;
    text-decoration: none;
    transition: 1s;
}
.cor-fundo strong{
    font-size: 17px;
    line-height: 29.143px;
    font-weight: 700;
}
.address{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
.map, .map3{
    border:10px solid #3A458B;
    display: none;
}
.cor-fundo2{
    
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #101C6B;
//    background: #101C6B;
}
.h1-pg{
    font-size: 31px;
    line-height: 37.2px;
    color: #00226b;
    font-weight: 700;
    margin-bottom: 40px;
}
.h1-pg span{
    font-size: 14px;
    line-height: 16.8px;
    color: #666666;
    font-weight: 400;
}
.btn-norm, .btn-norm:hover{
    color:#fff;
    font-size: 24px;
    line-height: 34.32px;
    font-weight: 700; 
}
.texto{
    font-size: 18px;
    line-height: 25.74px;
    color: #666666;
    font-weight: 700;
}
.local{
    color: #666666;
    font-size: 17px;
    line-height: 29.143px;
    font-weight: 700;
}
.end{
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #3A458B;
}
.fim{
    margin-bottom: 50px; 
    
}
.tam-local{
//    border:1px solid red;
    min-height:170px;
}
.subs{
    color: #00226b;
    font-size: 18px;
    line-height: 25.74px;
    font-weight: 700;
    color: #00276b;
}
.img-int{
    margin:0 0 20px  0; 
}
.sub-busca{
    margin-top:20px;
    line-height: 16.8px;
    color: #333333;
    font-weight: 700;
}
.busca-borda{
    border:2px solid #EDF1F1;
}
.lab-lista{
    font-size: 14px;
    line-height: 16.8px;
    color: #666666;
    font-weight: 400;
}
.order{
    float:right;
    width:500px;
}
.lista-truck{
    margin-top: 40px;
}
.block{
    margin-bottom:20px;
}
.nome{
    margin-top: 10px;
    font-size: 18px;
    line-height: 21.6px;
    color: #666666;
    font-weight: 700;
}
.lista-info-semi li{
    font-weight: 400;
    font-size: 15px;
    line-height: 22.65px;
    color: #666666;
}
.lista-info-semi li span{
    font-size: 15px;
    line-height: 22.65px;
    color: #5c314a;
    font-weight: 900;
}
a.link-semi{
    font-size: 15px;
    line-height: 26.4px;
    color: #ffffff;
    font-weight: 400;
    background-color: #00226b;
    padding: 5px 10px;
    border-radius:5px;
    text-decoration: none;
    margin-bottom: 20px;
}
.list-inline li img{
    margin-bottom: 10px;
}
.ref{
    
}
.frase-home{
    font-size: 31px;
    line-height: 37.2px;
    color: #004c7a;
    font-weight: 700;
    text-align: center;
    margin:20px 0 30px 0;
}
.title-dez{
    font-size: 31px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    margin-top:20px;
    margin-bottom:20px;
}
.title-dez span{
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 700;
}
.lista-dez li{
    font-size: 15px;
    line-height: 22.65px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
}
.img-truckp {
    background: #fff;
    border-radius: 50px;
    padding: 21px 11px;
}
.certo-img{
    padding: 10px 10px 10px 0;
    float:left;
}
.certo{
    font-size: 27px;
    line-height: 37.2px;
    color: #244c8b;
    font-weight: 700;
    margin-top:10px;
    float:left;
}
.center-certo{
    text-align: center;
    margin-top:10px
}
.lista-dez ul li{
    padding-left:4px;
}
.lista-dez{
    margin-bottom: 20px;
}






@media(min-width:768px) and (max-width:1200px){
    .lista-truck {
        text-align: center;
    }
    .nav > li{
        padding-left:0px;
        padding-right:5px;
    }
    .logo{
        margin-bottom: 10px;
        margin-top: 0px;
    }
    .navbar-toogle{
        margin-top: 22px;
    }
}
@media(max-width:1000px){
    .nav > li{
        background:url(../../src/images/dot-blue.png) no-repeat center bottom;
        text-align: center;
    }  
    .navbar-default{
        position: relative;
    } 
    .navbar-collapse{
        background:#fff;
    }
}



@media(max-width:768px){
    .line-top {
//        padding-top: 15px;
        padding-bottom: 0px;
    }
    .lead {
        font-size: 30px;
        color: #001a66;
        font-weight: 700;
        float: none; 
        margin-right: 0px;
    }
    .certo{
        font-size: 20px;
        line-height: 37.2px;
        color: #244c8b;
        font-weight: 700;
        margin-top:10px;
        float:left;
    }
    .busca-borda{
        display: none;
    }
    .lista-truck{
        text-align: center;
    }
    .order{
        float:none;
        width:auto;
        margin-top:20px;
    }
    .lista-menu-footer ul{
        float:none;
        margin-right:0px;
    }
    .face{
        float:none;
    }
    .btn-norm{
        margin: auto;
        display: block;
        float: none;
        margin-bottom:30px;
    }
    .tam-local{
    //    border:1px solid red;
        min-height:100px;
        text-align: center;
    }
    .topo{
        display: flex;
        flex-direction: column;
    }
    header{
        order:-1;
    }
    .logo{
        margin-top:10px;
        margin-bottom:10px;
    }
    .navbar-toggle{
         margin-top: 23px;   
    }
    .viki{
        margin-bottom: 10px;
        float:none;
    }
    .navbar-collapse{
        position: absolute;
        width:100%;
        text-align: center;
        background:#fff;
    }
    .tam-viki{
        display: none;
//        width:190px;
//        height:auto;
//        margin:auto;
//        display: block;
//        float: none;
    }
    .line-top p{
        text-align: center;
        font-size: 21px;
    }
    .ico-location{
        display: block;
        float: none;
        margin: auto;
        min-height: 50px;
        width:auto;
    }
    .cor-fundo li{
//        padding: 5px;        
    }
    .cor-fundo li a {
        padding: 15px;
        display: block;
        color:#000;
//        border-bottom:3px solid #fff;
        background: url("../../src/images/noun_21803_cc33.png") no-repeat center top 10px;
//        min-height: 310px;
    }

    .cor-fundo li a:hover, .cor-fundo li.active a {
        background: #3A458B url("../../src/images/noun_21803_cc.png") no-repeat center top 10px;
        color: #fff;
        text-decoration: none;
        transition: 1s;
    }
    footer{
        text-align: center;
    }
    .barra-logos img{
        display: block;
        margin:15px auto;
        float:none;
    }
    .center-line{
        text-align: center;
    }
    .lista-detalhes div {
        width: 117px;
        float: none;
        margin: auto;
        display: inline;
    }
    .lista-detalhes ul{
        display: block;
    }
    .lista-detalhes div{
        width:auto;
    }
    .fundo-busca{
        margin-bottom:20px;
    }
    .input1{
        width:100%;
        margin-bottom:5px;
    }
    .input2{
        width:100%;
        margin-bottom:5px;
    }
    button.btn-alt{
        margin:auto;
        display: block;
        float: none;
        width:100%
    }
    .form-hide-busca{
        display: none;
        padding-top:5px;
        margin-bottom: 20px;
    }
    .filter, .filter1{
        float: right;
        padding-top: 23px;
        font-size:20px;
        display: block;
        cursor: pointer;
        color:#3a458b;
    }
    
}
@media(min-width:769px){
    .form-hide-busca, .busca-borda{
        display: block !important;
    }
}
@media(max-width:400px){
    .tam-logo{
//        border:1px solid red; 
        max-width:200px;
        height:auto;
    }
}