.technical-sheet-container {
  .panel-body {
    padding: 0px !important;
  }
  
  form {
    padding: 0px !important;
    
    label {
      margin: 0;
    }
    
    input[type="checkbox"] {
      margin-right: 8px;
      
      &::after {
        content: '';
        display: block;
        height: 12px;
        width: 12px;
        border-radius: 2px;
        border: 2px solid $secondary;
        background-color: #9a9a9a;
      }
      
      &:checked::after {
        background-color: $darkGrey;
      }
    }
  }
}
.specs-table {
  padding: 0px;
  margin: 0;
  
  thead {
    background-color: darken($lightGrey, 10);
  }
  
  th:first-child {
    text-transform: uppercase;
  }
  
  tbody tr {
    border-bottom: 1px solid darken($lightGrey, 10);
  }
  
  th, td {
    padding: $table-cell-padding;
    text-align: center;
    border-right-width: 0px !important;
    $modelsQt: 5;
    width: percentage(1/$modelsQt);
    
    &:last-child {
      border-left-width: 0px !important;
    }
    
    &:not(:first-child) {
      text-align: left;
    }
  }
  
  th {
    font-weight: 700;
  }
  
  td {
    color: darken($lightGrey, 25);
  }
}

