<div class="topo">
    <div class="container">
        <div class="line-top">
           <div class="tam-viki">
            <img src="../src/images/viking-logo.png" class="img-responsive viki">
            </div>
            <p class="lead">(47) 3249 .5055</p>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Navegação alternativa</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                       <div class="tam-logo">
                        <img src="../src/images/logo-dicave.png" alt="DICAVE VOLVO" class="logo img-responsive">
                        </div>
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="empresa.html">A EMPRESA</a></li>
                        <li><a href="seminovos.html">SEMINOVOS</a></li>
                        <li><a href="regioes-atendidas.html">REGIÕES ATENDIDAS</a></li>
                        <li><a href="fale-conosco.html">FALE CONOSCO</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>

<div class="container-fluid fundo-blue">
   <div class="container">
        <div class="barra-blue">
                <p class="texto-blue">SEU SEMINOVO VOLVO ESTÁ AQUI</p>
        </div>
    </div>
</div>
