
<div class="fundo-rodape">
    <footer>
        <div class="container top-line">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="row">
                            <h2 class="title-footer">Acesso Rápido</h2>
                            <div class="col-sm-3">
                                <div class="row">
                                    <p class="sub-footer">Institucional</p>
                                    <div class="lista-menu-footer">
                                        <ul>
                                            <li>A Empresa</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="row">
                                    <p class="sub-footer">Seminovos</p>
                                    <div class="lista-menu-footer">
                                        <ul>
                                            <li>Lista Completa</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="row">
                                    <p class="sub-footer">Regiões Atendidas</p>
                                    <div class="lista-menu-footer">
                                        <ul>
                                            <li>Top 10</li>
                                            <li>Lista Completa</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="row">
                                    <p class="sub-footer">Fale Conosco</p>
                                    <div class="lista-menu-footer">
                                        <ul>
                                            <li>Fale Conosco</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <img src="../src/images/face.png" class="face">
                    </div>
                </div>
            </div>

            <div class="col-sm-12 ">
                <div class="row tab-nav2">
                   <div class="tab-nav22  cor-fundo clearfix" style="margin-top:50px">
                    <ul>
                        <li class="col-md-4 col-sm-4 col-xs-4 active">
                           <div class="row">
                            <a href="#tab3" title="">
                                <div class="ico-location"></div>
                                <strong>Dicave Itajaí -Matriz</strong>
                                <address class="address">Rodovia BR-101, Km 125 nº 12800 Canhanduba<br>
                                Fone: (47) 3249.5000<br>
                                Vendedor: Ilson (47) 9220 1686                                  
                                </address>
                            </a>
                            </div>
                        </li>
                        <li class="col-md-4 col-sm-4 col-xs-4">
                            <div class="row">
                            <a href="#tab4" title="">
                                <div class="ico-location"></div>
                                <strong>Dicave Itajaí -Matriz</strong>
                                <address class="address">Rodovia BR-101, Km 125 nº 12800 Canhanduba<br>
                                Fone: (47) 3249.5000                                
                                </address>
                            </a>
                            </div>
                        </li>
                        <li class="col-md-4 col-sm-4 col-xs-4">
                            <div class="row">
                            <a href="#tab5" title="">
                                <div class="ico-location"></div>
                                <strong>Dicave Itajaí -Matriz</strong>
                                <address class="address">Rodovia BR-101, Km 125 nº 12800 Canhanduba<br>
                                Fone: (47) 3249.5000                                
                                </address>
                            </a>
                            </div>
                        </li>
                    </ul>
                    </div>
                    <div class="tab-anchor"></div>
                    <div class="tab-content2" id="tab3">
                        <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3557.621864236142!2d-49.05976108534991!3d-26.91549339980205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94df18bebdde00c9%3A0xe6ce8f34288899c1!2sR.+Itaja%C3%AD%2C+625+-+Vorstadt%2C+Blumenau+-+SC!5e0!3m2!1spt-BR!2sbr!4v1451400159934" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tab-content2" id="tab4">
                        <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3551.998087900034!2d-48.908729185344896!3d-27.093356207287204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94df4791298eb8f7%3A0xc60a445a64876a0e!2sAv.+Arno+Carlos+Gracher%2C+411+-+Centro+1%2C+Brusque+-+SC!5e0!3m2!1spt-BR!2sbr!4v1451400318250" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tab-content2" id="tab5">
                        <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3551.998087900034!2d-48.908729185344896!3d-27.093356207287204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94df4791298eb8f7%3A0xc60a445a64876a0e!2sAv.+Arno+Carlos+Gracher%2C+411+-+Centro+1%2C+Brusque+-+SC!5e0!3m2!1spt-BR!2sbr!4v1451400318250" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <!------------------------------>
                    
                    <div class="tab-nav22 cor-fundo clearfix" style="margin-top:50px">
                    <ul>
                        <li class="col-md-4 col-sm-4 col-xs-4">
                           <div class="row">
                            <a href="#tab6" title="">
                                <div class="ico-location"></div>
                                <strong>Dicave Itajaí -Matriz</strong>
                                <address class="address">Rodovia BR-101, Km 125 nº 12800 Canhanduba<br>
                                Fone: (47) 3249.5000 <br>
                                Vendedor: Ilson (47) 9220 1686                               
                                </address>
                            </a>
                            </div>
                        </li>
                        <li class="col-md-4 col-sm-4 col-xs-4">
                            <div class="row">
                            <a href="#tab7" title="">
                                <div class="ico-location"></div>
                                <strong>Dicave Itajaí -Matriz</strong>
                                <address class="address">Rodovia BR-101, Km 125 nº 12800 Canhanduba<br>
                                Fone: (47) 3249.5000                                
                                </address>
                            </a>
                            </div>
                        </li>
                        <li class="col-md-4 col-sm-4 col-xs-4">
                            <div class="row">
                            <a href="#tab8" title="">
                                <div class="ico-location"></div>
                                <strong>Dicave Itajaí -Matriz</strong>
                                <address class="address">Rodovia BR-101, Km 125 nº 12800 Canhanduba<br>
                                Fone: (47) 3249.5000                                
                                </address>
                            </a>
                            </div>
                        </li>
                    </ul>
                    </div>
                    
                    <div class="tab-content2" id="tab6">
                        <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3557.621864236142!2d-49.05976108534991!3d-26.91549339980205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94df18bebdde00c9%3A0xe6ce8f34288899c1!2sR.+Itaja%C3%AD%2C+625+-+Vorstadt%2C+Blumenau+-+SC!5e0!3m2!1spt-BR!2sbr!4v1451400159934" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tab-content2" id="tab7">
                        <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3551.998087900034!2d-48.908729185344896!3d-27.093356207287204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94df4791298eb8f7%3A0xc60a445a64876a0e!2sAv.+Arno+Carlos+Gracher%2C+411+-+Centro+1%2C+Brusque+-+SC!5e0!3m2!1spt-BR!2sbr!4v1451400318250" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tab-content2" id="tab8">
                        <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3551.998087900034!2d-48.908729185344896!3d-27.093356207287204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94df4791298eb8f7%3A0xc60a445a64876a0e!2sAv.+Arno+Carlos+Gracher%2C+411+-+Centro+1%2C+Brusque+-+SC!5e0!3m2!1spt-BR!2sbr!4v1451400318250" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <!------------------------------>
                
            </div>
        </div>
    </footer>
</div>