<div class="car">
  <div class="row">
    <div class="col-sm-5 col-md-12">
      <a href="{{ carLink }}">
        <img src="assets/frontend/images/car.png" alt="" class="img-responsive">
      </a>
    </div>
    <div class="col-sm-7 col-md-12">
      <div class="car-properties">
        <a href="{{ carLink }}">
          <h3>Fuscão preto você é feito de aço</h3>
        </a>
        <hr>
        <div class="row">
          <div class="col-sm-7 col-md-12">
            <ul class="list-inline properties-list">
              <li>Ano: 2012/2013</li>
              <li>Km: 2012/2013</li>
              <li class="price">R$ 21.990,00</li>
            </ul>
          </div>
          <div class="col-sm-5 col-md-12">
            <a href="" class="btn-default">
              Aproveite já<i class="fa fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
