{% extends 'layout.html' %} {% block content %}
<div class="container">
    <div class="col-sm-12">
        <div class="row">
            <h1 class="h1-pg">INSTITUCIONAL <span>Home > Institucional</span></h1>
            <p class="texto">O Grupo Dicave iniciou sua trajetória com a abertura de sua matriz em Itajaí, em 14 de novembro de 1980. Comercialmente nossa matriz atende os municípios de Itajaí, Apiúna, Ascurra, Balneário Camboriú, Benedito Novo, Blumenau, Bombinhas, Botuverá, Brusque, Camboriú, Canelinha, Doutor Pedrinho, Gaspar, Guabiruba, Ilhota, Indaial, Itapema, Luiz Alves, Navegantes, Nova Trento, Penha, Piçarras, Pomerode, Porto Belo, Rido dos Cedros, Rodeio, São João Batista, Tijucas e Timbó.</p>

            <p class="texto">Se sua empresa e/o residência fica em uma das cidades acima, confira ao lado quem é o Consultor de Negócios de sua região e conte conosco sempre que precisar.</p>

            <p class="texto"><span class="subs">Estrutura</span>
                <br> Nossa matriz está instalada em um terreno de aproximadamente 47.900 m², com uma área construída de mais de 6.000 m². Possui uma ampla e moderna estrutura, além de contar com cerca de 160 colaboradores prontos para atendê-lo de maneira rápida e eficaz.</p>

            <p class="texto">Disponibilizamos um total de 27 boxes de atendimento, sendo 15 boxes de mecânica, 04 para troca de óleo rápida (Pitstop), 09 boxes de funilaria e pintura e 02 boxes para serviços Michelin. A Dicave conta também com atendimento exclusivo de clientes no balcão público, profissional mecatrônico formado pela Volvo do Brasil, disponibilidade de equipamentos eletrônicos para fazer diagnósticos mais rápido possível nos veículos Volvo.</p>

            <p class="texto">Ainda, a Dicave Itajaí faz parte da linha azul Volvo, ou seja, conta com uma estrutura completa para atendimento exclusivo em ônibus (ferramentas, peças e mecânicos treinados).</p>

            <p class="texto">Aos motoristas que ficam no aguardo do término do serviço em seu veículo, a Dicave disponibiliza apartamentos equipados para o pernoite com maior comodidade e tranquilidade.
                <br> Os caminhões seminovos Volvo (Viking) são veículos que passam por um criterioso processo de inspeção e reforma. Após, são recolocados no mercado com alguns diferenciais:</p>

            <p class="texto"><span class="subs">Garantia Viking</span>
                <br> Garantia Nacional Volvo, na Rede de Concessionárias, para o trem-de-força (que inclui motor, caixa de câmbio e eixo traseiro). Em veículos com mais de 3 anos a garantia é de três meses ou 50 mil km e, em veículos com menos de 3 anos, de 6 meses ou 80 mil km.</p>

            Garantia de Procedência
            <p class="texto">A propriedade do veículo é a própria Volvo do Brasil, o que gera maior segurança na transferência da documentação.</p>

            <p class="texto"><span class="subs">Manutenções</span>
                <br> Junto com o caminhão, além dos 6 pneus novos para veículos 4x2 ou 10 pneus novos para veículos 6x2 / 6x4, o novo proprietário tem direito a 2 trocas de óleo e filtro do motor grátis (para 15 mil km e 30 mil km).</p>

            <p class="texto"><span class="subs">Preços Competitivos</span>
                <br> A Volvo procura oferecer condições especiais, buscando o valor e a forma de pagamento adequado aos clientes.

                <p class="texto fim"><span class="subs">VOAR - Volvo Atendimento Rápido</span>
                    <br> Segurança em qualquer região do Brasil. O cliente ganha 1 (um) deslocamento gratuito da unidade</p>

            <h1 class="h1-pg">Nossas Lojas</h1>
            
            <ul class="gallery clearfix list-inline">
				<li><a href="src/images/truck.png" rel="prettyPhoto[gallery1]" title="Loja">
				    <img src="src/images/loja1.png" alt="Loja" /></a>
				</li>
				<li><a href="src/images/truck.png" rel="prettyPhoto[gallery1]" title="Loja">
				    <img src="src/images/loja1.png" alt="Loja" /></a>
				</li>
				<li><a href="src/images/truck.png" rel="prettyPhoto[gallery1]" title="Loja">
				    <img src="src/images/loja1.png" alt="Loja" /></a>
				</li>
				<li><a href="src/images/truck.png" rel="prettyPhoto[gallery1]" title="Loja">
				    <img src="src/images/loja1.png" alt="Loja" /></a>
				</li>
				<li><a href="src/images/truck.png" rel="prettyPhoto[gallery1]" title="Loja">
				    <img src="src/images/loja1.png" alt="Loja" /></a>
				</li>
				<li><a href="src/images/truck.png" rel="prettyPhoto[gallery1]" title="Loja">
				    <img src="src/images/loja1.png" alt="Loja" /></a>
				</li>
				<li><a href="src/images/truck.png" rel="prettyPhoto[gallery1]" title="Loja">
				    <img src="src/images/loja1.png" alt="Loja" /></a>
				</li>
			</ul>

        </div>
    </div>
</div>

<div class="fundo-barra-logos">
    <div class="container top-line">
        <div class="col-sm-12">
            <div class="row">
                <div class="barra-logos">
                    <p class="detalhes">Busque por marcas</p>
                    <img src="../src/images/logo-volvo.png" class="img-responsive center-block">
                    <img src="../src/images/logo-ford.png" class="img-responsive center-block">
                    <img src="../src/images/logo-iveco.png" class="img-responsive center-block">
                    <img src="../src/images/logo-benz.png" class="img-responsive center-block">
                    <img src="../src/images/logo-volks.png" class="img-responsive center-block">
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}