{% extends 'layout.html' %} {% block content %}
<div class="container">
    <div class="col-sm-12">
        <div class="row">
            <h1 class="h1-pg">FALE CONOSCO <span>Home > Fale Conosco</span></h1>
            <p class="texto fim">Você pode entrar em contato com a Viking Seminovos através do formulário abaixo. Se preferir, entre em contato diretamente por telefone com a nossa equipe de vendas. Agradecemos sua visita ao nosso website.</p>
            <div class="col-sm-3">
                <div class="row">
                    <form>
                        <div class="form-group">
                            <input type="text" name="nome" class="form-control" placeholder="Nome">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="E-mail">
                        </div>
                        <div class="form-group">
                            <input type="tel" name="telefone" class="form-control" placeholder="Telefone">
                        </div>
                        <div class="form-group">
                            <input type="text" name="cidade" class="form-control" placeholder="Cidade">
                        </div>
                        <div class="form-group">
                            <select class="form-control">
                                <option>Marca</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="hora" class="form-control" placeholder="Melhor horário para contato">
                        </div>
                        <div class="form-group">
                            <input type="text" name="assunto" class="form-control" placeholder="Assunto">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="mensagem" placeholder="Mensagem" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default btn-norm">Enviar</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                   <div class="tam-local">
                    <strong class="local">Dicave Itajaí -Matriz</strong>
                    <address class="end">Rodovia BR-101, Km 125 nº 12800 Canhanduba<br>
                    Fone: (47) 3249.5000 <br>
                    Vendedor: Ilson (47) 9220 1686                               
                    </address>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                   <div class="tam-local">
                    <strong class="local">Dicave Itajaí -Matriz</strong>
                    <address class="end">Rodovia BR-101, Km 125 nº 12800 Canhanduba<br>
                    Fone: (47) 3249.5000 <br>
                    Vendedor: Ilson (47) 9220 1686                               
                    Vendedor: Ilson (47) 9220 1686                               
                    </address>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                   <div class="tam-local">
                    <strong class="local">Dicave Itajaí -Matriz</strong>
                    <address class="end">Rodovia BR-101, Km 125 nº 12800 Canhanduba<br>
                    Fone: (47) 3249.5000 <br>
                    Vendedor: Ilson (47) 9220 1686                               
                    </address>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                   <div class="tam-local">
                    <strong class="local">Dicave Itajaí -Matriz</strong>
                    <address class="end">Rodovia BR-101, Km 125 nº 12800 Canhanduba<br>
                    Fone: (47) 3249.5000 <br>
                    Vendedor: Ilson (47) 9220 1686                               
                    </address>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                   <div class="tam-local">
                    <strong class="local">Dicave Itajaí -Matriz</strong>
                    <address class="end">Rodovia BR-101, Km 125 nº 12800 Canhanduba<br>
                    Fone: (47) 3249.5000 <br>
                    Vendedor: Ilson (47) 9220 1686                               
                    </address>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                   <div class="tam-local">
                    <strong class="local">Dicave Itajaí -Matriz</strong>
                    <address class="end">Rodovia BR-101, Km 125 nº 12800 Canhanduba<br>
                    Fone: (47) 3249.5000 <br>
                    Vendedor: Ilson (47) 9220 1686                               
                    </address>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                   <div class="tam-local">
                    <strong class="local">Dicave Itajaí -Matriz</strong>
                    <address class="end">Rodovia BR-101, Km 125 nº 12800 Canhanduba<br>
                    Fone: (47) 3249.5000 <br>
                    Vendedor: Ilson (47) 9220 1686                               
                    </address>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                   <div class="tam-local">
                    <strong class="local">Dicave Itajaí -Matriz</strong>
                    <address class="end">Rodovia BR-101, Km 125 nº 12800 Canhanduba<br>
                    Fone: (47) 3249.5000 <br>
                    Vendedor: Ilson (47) 9220 1686                               
                    </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fundo-barra-logos">
    <div class="container top-line">
        <div class="col-sm-12">
            <div class="row">
                <div class="barra-logos">
                    <p class="detalhes">Busque por marcas</p>
                    <img src="../src/images/logo-volvo.png" class="img-responsive center-block">
                    <img src="../src/images/logo-ford.png" class="img-responsive center-block">
                    <img src="../src/images/logo-iveco.png" class="img-responsive center-block">
                    <img src="../src/images/logo-benz.png" class="img-responsive center-block">
                    <img src="../src/images/logo-volks.png" class="img-responsive center-block">
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}