{% extends 'layout.html' %} {% block title %}{% endblock %} {# mock #} {% set banners = 0..5 %} {% block content %}

<div class="fundo-busca">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-3">
                        <span class="glyphicon glyphicon-filter filter" aria-hidden="true"></span>
                        <p class="busca-semi">BUSQUE SEU SEMINOVO</p>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-hide-busca">
                            <form>
                                <div class="form-group">
                                    <select class="form-control input1">
                                        <option>Marca</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <select class="form-control input1">
                                        <option>Modelo</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <select class="form-control input1">
                                        <option>Preço</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <select class="form-control input2">
                                        <option>Ano de</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <select class="form-control input2">
                                        <option>Ano até</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-default btn-alt"><img class="img-lupa" src="../src/images/lupa.png" class="img-responsive"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section style="margin-bottom:4px;">
    <div id="main-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            {% for b in banners %}
            <div class="item {% if loop.first %}active{% endif %}" id="carousel-item-{{ b }}">
                <div class="item-img"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-lg-3">
                            <div class="carousel-caption">
                                <h2>Texto do Banner</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse possimus unde numquam velit hic nisi mollitia adipisci, enim fugiat perferendis deleniti blanditiis illo nemo aut saepe labore et voluptatum placeat!</p>
                                <button class="btn btn-default">Botão</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        {% if banners.length > 1 %}
        <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>

        <ol class="carousel-indicators">
            {% for b in banners %}
            <li data-target="#main-carousel" data-slide-to="{{ b }}" class="{% if loop.first %}active{% endif %}"></li>
            {% endfor %}
        </ol>

        <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
        {% endif %}
    </div>

    <section class="carousel-context">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-3 pull-right">
                    {% include 'shared/form-details.html' %}
                </div>
            </div>
        </div>
    </section>
</section>

<div class="fundo-busca">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline center-certo">
                    <li><img src="../src/images/certo.png" class="certo-img"> <div class="certo">GARANTIA</div></li>
                    <li><img src="../src/images/certo.png" class="certo-img"> <div class="certo">PROCEDÊNCIA</div></li>
                    <li><img src="../src/images/certo.png" class="certo-img"> <div class="certo">VALOR DE REVENDA</div></li>
                    <li><img src="../src/images/certo.png" class="certo-img"> <div class="certo">DISPONIBILIDADE</div></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <p class="frase-home">Confira nossa lista de caminhões seminovos</p>

    <div class="col-sm-12">
        <div class="row">
            <div class="lista-truck">
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="block">
                        <div class="tam-lista-semi">
                            <img src="src/images/truck-semi.png" class="img-responsive center-block" width="255" height="172">
                        </div>
                        <p class="nome">VOLVO FH 440</p>
                        <div class="lista-info-semi">
                            <ul>
                                <li>2013</li>
                                <li>45.000 km</li>
                                <li>Automático</li>
                                <li><span>R$ 38.000,00</span></li>
                            </ul>
                        </div>
                        <a href="seminovo-detalhe.html" class="link-semi">VEJA MAIS DETALHES</a>
                    </div>
                </div>
            </div>
            
            <div class="lista-truck">
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="block">
                        <div class="tam-lista-semi">
                            <img src="src/images/truck-semi.png" class="img-responsive center-block" width="255" height="172">
                        </div>
                        <p class="nome">VOLVO FH 440</p>
                        <div class="lista-info-semi">
                            <ul>
                                <li>2013</li>
                                <li>45.000 km</li>
                                <li>Automático</li>
                                <li><span>R$ 38.000,00</span></li>
                            </ul>
                        </div>
                        <a href="seminovo-detalhe.html" class="link-semi">VEJA MAIS DETALHES</a>
                    </div>
                </div>
            </div>
            
            <div class="lista-truck">
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="block">
                        <div class="tam-lista-semi">
                            <img src="src/images/truck-semi.png" class="img-responsive center-block" width="255" height="172">
                        </div>
                        <p class="nome">VOLVO FH 440</p>
                        <div class="lista-info-semi">
                            <ul>
                                <li>2013</li>
                                <li>45.000 km</li>
                                <li>Automático</li>
                                <li><span>R$ 38.000,00</span></li>
                            </ul>
                        </div>
                        <a href="seminovo-detalhe.html" class="link-semi">VEJA MAIS DETALHES</a>
                    </div>
                </div>
            </div>
            
            <div class="lista-truck">
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="block">
                        <div class="tam-lista-semi">
                            <img src="src/images/truck-semi.png" class="img-responsive center-block" width="255" height="172">
                        </div>
                        <p class="nome">VOLVO FH 440</p>
                        <div class="lista-info-semi">
                            <ul>
                                <li>2013</li>
                                <li>45.000 km</li>
                                <li>Automático</li>
                                <li><span>R$ 38.000,00</span></li>
                            </ul>
                        </div>
                        <a href="seminovo-detalhe.html" class="link-semi">VEJA MAIS DETALHES</a>
                    </div>
                </div>
            </div>
            
            <div class="lista-truck">
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="block">
                        <div class="tam-lista-semi">
                            <img src="src/images/truck-semi.png" class="img-responsive center-block" width="255" height="172">
                        </div>
                        <p class="nome">VOLVO FH 440</p>
                        <div class="lista-info-semi">
                            <ul>
                                <li>2013</li>
                                <li>45.000 km</li>
                                <li>Automático</li>
                                <li><span>R$ 38.000,00</span></li>
                            </ul>
                        </div>
                        <a href="seminovo-detalhe.html" class="link-semi">VEJA MAIS DETALHES</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid fundo-blue">
   <div class="container">
       <p class="title-dez">TOP 10 Dicave Viking<br>
       <span>Os modelos mais buscados no portal</span></p>
       <div class="lista-dez">
       <ul class="list-inline lis">
           <li><img class="img-truckp img-responsive" src="../src/images/truckp.png" ><span>F-350</span></li>
           <li><img class="img-truckp img-responsive" src="../src/images/truckp.png" ><span>F-350</span></li>
           <li><img class="img-truckp img-responsive" src="../src/images/truckp.png" ><span>F-350</span></li>
           <li><img class="img-truckp img-responsive" src="../src/images/truckp.png" ><span>F-350</span></li>
           <li><img class="img-truckp img-responsive" src="../src/images/truckp.png" ><span>F-350</span></li>
           <li><img class="img-truckp img-responsive" src="../src/images/truckp.png" ><span>F-350</span></li>
           <li><img class="img-truckp img-responsive" src="../src/images/truckp.png" ><span>F-350</span></li>
           <li><img class="img-truckp img-responsive" src="../src/images/truckp.png" ><span>F-350</span></li>
           <li><img class="img-truckp img-responsive" src="../src/images/truckp.png" ><span>F-350</span></li>
           <li><img class="img-truckp img-responsive" src="../src/images/truckp.png" ><span>F-350</span></li>
       </ul>
       </div>
    </div>
</div>



{% include 'shared/load-css.html' with {'css': 'index.css'} %} {% endblock %}