{% extends 'layout.html' %} {% block content %}
<div class="container">
    <div class="col-sm-12">
        <div class="row">
            <h1 class="h1-pg">REGIÕES ATENDIDAS <span>Home > Regiões Atendidas</span></h1>

            <img class="img-int img-responsive center-block" src="../src/images/regioes.png"  alt="Regiões Atendidas">
            <p class="texto">O Viking Center, da Dicave Volvo atende em todo o território nacional, com estrutura física em 13 cidades de Santa Catarina.
                <br> Sempre oferecendo preços competitivos e com taxas diferenciadas como o Prócaminhoneiro.
                <br> São seminovos de qualidade e com garantia Dicave.
                <br> Entre em contato e faça um orçamento ou venha conhecer nosso estoque.
                <br> Agradecemos sua visita ao site!</p>

        </div>
    </div>
</div>

<div class="fundo-barra-logos">
    <div class="container top-line">
        <div class="col-sm-12">
            <div class="row">
                <div class="barra-logos">
                    <p class="detalhes">Busque por marcas</p>
                    <img src="../src/images/logo-volvo.png" class="img-responsive center-block">
                    <img src="../src/images/logo-ford.png" class="img-responsive center-block">
                    <img src="../src/images/logo-iveco.png" class="img-responsive center-block">
                    <img src="../src/images/logo-benz.png" class="img-responsive center-block">
                    <img src="../src/images/logo-volks.png" class="img-responsive center-block">
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}