{% extends 'layout.html' %} {% block content %}
<div class="fundo-busca">
    <div class="container">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3">
                    <span class="glyphicon glyphicon-filter filter" aria-hidden="true"></span>
                    <p class="busca-semi">BUSQUE SEU SEMINOVO</p>
                </div>
                <div class="col-sm-9">
                    <div class="form-hide-busca">
                        <form>
                            <div class="form-group">
                                <select class="form-control input1">
                                    <option>Marca</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <select class="form-control input1">
                                    <option>Modelo</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <select class="form-control input1">
                                    <option>Preço</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <select class="form-control input2">
                                    <option>Ano de</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <select class="form-control input2">
                                    <option>Ano até</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-default btn-alt"><img class="img-lupa" src="../src/images/lupa.png" class="img-responsive"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container top-line">
    <div class="row">
        <div class="col-sm-5">
            <div class="slider slider-for">
                <div><img class="img-responsive center-block" src="../src/images/truck.png"></div>
                <div><img class="img-responsive center-block" src="../src/images/truck.png"></div>
                <div><img class="img-responsive center-block" src="../src/images/truck.png"></div>
                <div><img class="img-responsive center-block" src="../src/images/truck.png"></div>
            </div>
            <div class="slider slider-nav">
                <div><img class="img-responsive center-block" src="../src/images/truck.png"></div>
                <div><img class="img-responsive center-block" src="../src/images/truck.png"></div>
                <div><img class="img-responsive center-block" src="../src/images/truck.png"></div>
                <div><img class="img-responsive center-block" src="../src/images/truck.png"></div>
            </div>
        </div>
        <div class="col-sm-4 center-line">
            <h1 class="nome-carro-interna">VOLVO FH 440 08/08</h1>
            <p class="especial"><span class="especial">PREÇO ESPECIAL</span>
                <br> R$ 165.000,00</p>
            <div class="lista-detalhes">
                <ul>
                    <li>
                        <div>Marca:</div> VOLVO</li>
                    <li>
                        <div>Ano:</div> 2008</li>
                    <li>
                        <div>Combustível:</div> Diesel</li>
                    <li>
                        <div>Cor:</div> Branco</li>
                    <li>
                        <div>Tração:</div> Tração 6x4</li>
                    <li>
                        <div>Local:</div> Dicave Matriz</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3 back-form-interna">
            <p>SOLICITE COTAÇÃO</p>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" name="nome" placeholder="Nome">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="E-mail">
                </div>
                <div class="form-group">
                    <input type="tel" class="form-control" name="fone" placeholder="Telefone">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="cidade" placeholder="Cidade">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="estado" placeholder="Estado">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="modelo" placeholder="VOLVO FH 440 08/08">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="mensagem" placeholder="Mensagem" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-link btn-interna">Enviar</button>
            </form>
        </div>
    </div>
</div>

<div class="container top-line">
    <div class="col-sm-12">
        <div class="row">
            <p class="detalhes">Acessórios</p>
            <div class="lista-obs">
                <ul>
                    <li>Direção Hidráulica</li>
                    <li>Direção Hidráulica</li>
                    <li>Direção Hidráulica</li>
                    <li>Direção Hidráulica</li>
                    <li>Direção Hidráulica</li>
                    <li>Direção Hidráulica</li>
                </ul>

                <ul>
                    <li>Direção Hidráulica</li>
                    <li>Direção Hidráulica</li>
                    <li>Direção Hidráulica</li>
                    <li>Direção Hidráulica</li>
                    <li>Direção Hidráulica</li>
                    <li>Direção Hidráulica</li>
                </ul>

                <ul>
                    <li>Direção Hidráulica</li>
                    <li>Direção Hidráulica</li>
                    <li>Direção Hidráulica</li>
                    <li>Direção Hidráulica</li>
                    <li>Direção Hidráulica</li>
                    <li>Direção Hidráulica</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container top-line">
    <div class="col-sm-12">
        <div class="row">
            <p class="detalhes">Observações</p>
            <p>Interessados ligar no 047 92201144 047 34477600 FH 440 6X4 I-shift Teto baixo , com garantia de 3 meses , bom de pneus este FH se encontra na Concessionaria Dicave de Araquari próximo a Joinville</p>
        </div>
    </div>
</div>


<div class="fundo-barra-logos">
    <div class="container top-line">
        <div class="col-sm-12">
            <div class="row">
                <div class="barra-logos">
                    <p class="detalhes">Busque por marcas</p>
                    <img src="../src/images/logo-volvo.png" class="img-responsive center-block">
                    <img src="../src/images/logo-ford.png" class="img-responsive center-block">
                    <img src="../src/images/logo-iveco.png" class="img-responsive center-block">
                    <img src="../src/images/logo-benz.png" class="img-responsive center-block">
                    <img src="../src/images/logo-volks.png" class="img-responsive center-block">
                </div>
            </div>
        </div>
    </div>
</div>




{#% include 'shared/load-css.html' with {'css': 'seminovo-detalhe.css'} #} {% endblock %}