{% extends 'layout.html' %} {% block content %}
<div class="fundo-busca">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-3">
                        <span class="glyphicon glyphicon-filter filter" aria-hidden="true"></span>
                        <p class="busca-semi">BUSQUE SEU SEMINOVO</p>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-hide-busca">
                            <form>
                                <div class="form-group">
                                    <select class="form-control input1">
                                        <option>Marca</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <select class="form-control input1">
                                        <option>Modelo</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <select class="form-control input1">
                                        <option>Preço</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <select class="form-control input2">
                                        <option>Ano de</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <select class="form-control input2">
                                        <option>Ano até</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-default btn-alt"><img class="img-lupa" src="../src/images/lupa.png" class="img-responsive"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container top-line">
    <div class="col-sm-12">
        <div class="row">
           <span class="glyphicon glyphicon-chevron-down filter1" aria-hidden="true"></span>
            <h1 class="h1-pg">FILTROS</h1>
            <div class="col-sm-3 busca-borda">
                <form>
                    <p class="sub-busca">MARCA</p>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value=""> hhhhhhhh
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">jbhbjbkjbkjb
                        </label>
                    </div>

                    <p class="sub-busca">MODELO</p>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value=""> hhhhhhhh
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">jbhbjbkjbkjb
                        </label>
                    </div>

                    <p class="sub-busca">ANO</p>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value=""> hhhhhhhh
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">jbhbjbkjbkjb
                        </label>
                    </div>

                    <p class="sub-busca">PREÇO</p>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value=""> hhhhhhhh
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">jbhbjbkjbkjb
                        </label>
                    </div>
                </form>
            </div>

            <div class="col-sm-9">
                <div class="order">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-6 col-sm-6 lab-lista control-label">Ordenar resultados</label>
                            <div class="col-lg-6 col-sm-6">
                                <select class="form-control">
                                    <option>Relevância</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <label class="lab-lista">Mostrando 1 - 20 de 30 veículos</label>

                {#% for t in truck = 0..6 %#}
                <div class="lista-truck">
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="block">
                            <div class="tam-lista-semi">
                                <img src="src/images/truck-semi.png" class="img-responsive center-block" width="255" height="172">
                            </div>
                            <p class="nome">VOLVO FH 440</p>
                            <div class="lista-info-semi">
                                <ul>
                                    <li>2013</li>
                                    <li>45.000 km</li>
                                    <li>Automático</li>
                                    <li><span>R$ 38.000,00</span></li>
                                </ul>
                            </div>
                            <a href="seminovo-detalhe.html" class="link-semi">VEJA MAIS DETALHES</a>
                        </div>
                    </div>
                </div>
                {#% endfor %#}
            </div>
        </div>
    </div>
</div>



<div class="fundo-barra-logos">
    <div class="container top-line">
        <div class="col-sm-12">
            <div class="row">
                <div class="barra-logos">
                    <p class="detalhes">Busque por marcas</p>
                    <img src="../src/images/logo-volvo.png" class="img-responsive center-block">
                    <img src="../src/images/logo-ford.png"  class="img-responsive center-block">
                    <img src="../src/images/logo-iveco.png"  class="img-responsive center-block">
                    <img src="../src/images/logo-benz.png"  class="img-responsive center-block">
                    <img src="../src/images/logo-volks.png"  class="img-responsive center-block">
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}