{% set used = true %}
{% extends 'layout.html' %}
{% block title %}{% endblock %}

{% block content %}
<div class="container">
  {# include 'shared/breadcrumb.html' #}
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <h2 class="find-your-auto"><div class="highlight">Seminuevos</div>encontre su auto</h2>
      {% include 'shared/used-filter.html' %}
    </div>
    <div class="col-xs-12 col-md-9">
      <div class="row">
        <div class="col-xs-12 col-md-5">
          <h1>Resultado de búsqueda</h1>
          <div class="find-results">(1-20 de 100 veículos encontrados)</div>
        </div>
        <div class="col-xs-12 col-md-7">
          <div class="filter-controls">
            <div class="filter-control">
              <label for="order-by-criteria">Ordenar por:</label>
              <select name="order-by-criteria" id="order-by-criteria">
                <option value="">Año</option>
                <option value="">Fabricante</option>
                <option value="">Precio</option>
                <option value="">Modelo</option>
              </select>
            </div>
            <div class="filter-control">
              <label for="items-per-page">Itens por página:</label>
              <select name="items-per-page" id="items-per-page">
                <option value="10">10</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      {% for car in 1..7 %}
        {% set carLink = 'link-exemplo' %}
        {% include 'shared/used-car.html' %}
      {% endfor %}
      <div class="col-xs-12">
        {% include 'shared/pagination.html' %}
      </div>
    </div>
  </div>
</div>
{% include 'shared/load-css.html' with {'css': 'used_cars.css'} %}
{% endblock %}
