@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/form";

.carousel-inner .item-img {
  background-image: url(../images/background-carousel-1.png);
}

@media (min-width: 1200px){
    .carousel-context {
        position: absolute;
        top: 271px;
        z-index: 9999;
    }
}